<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Calculadora</title>
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <script>
      const $ = require("jquery");
      require("popper.js");
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row d-flex flex-column justify-content-center">
        <div class="col-12"><input type="number" name="edvalor" id="edvalor" /><i class="glyphicon glyphicon-chevron-right"></i></div>
        <table class="table table-striped w-auto col-12">
          <tbody>
            <tr>
              <td>7</td>
              <td>8</td>
              <td>9</td>
            </tr>
            <tr>
              <td>4</td>
              <td>5</td>
              <td>6</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
            </tr>
            <tr>
              <td>0</td>
              <td></td>
              <td>ENTER</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script src="./calculadora_view.js"></script>
  </body>
</html>
